@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Nunito');
body {
    margin: 0;
    height: 100vh;
    background-image: url('background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

/* Container */
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* Outer Area */
.outer {
    display: grid;
    grid-gap: 64px;
    grid-template-columns: 1fr 1fr;
}

/* Task Info */
.task {
    margin-top: 128px;
    margin-bottom: 64px;
}
.task__title {
    font-size: 48px;
    margin-bottom: 12px;
    color: #f0d780;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    font-family: 'Abril Fatface', cursive;
}
.task__details {
    color: #d5fff5;
    line-height: 1.5;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.task__link {
    color: #fff;
    text-decoration: none;
    transition: 0.25s ease;
}
.task__link:hover {
    letter-spacing: 2px;
}

/* Clock */
.clock {
    width: 498px;
    height: 498px;
    background-color: #f0d780;
    display: block;
    border-radius: 50%;
    margin: 128px auto;
    position: relative;
}

/* Clock Hand */
.clock__hand {
    height: 2px;
    font-size: 24px;
    text-align: center;
    line-height: 2px;
    width: calc(50% - 12px);
    position: absolute;
    top: 50%;
    background-color: #fff;
    left: 0;
    margin-left: 12px;
    transform: rotate(90deg);
    transform-origin: 100%;
    font-family: 'Abril Fatface', cursive;
}

/* Buttons */
.links {
    margin-top: 64px;
    text-align: right;
}
.links__btn {
    height: 42px;
    line-height: 42px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 8px;
    color: #fff;
    transition: 0.25s ease;
    display: inline-block;
    text-decoration: none;
    margin-right: 24px;
}
.links__btn:hover {
    transform: translate(0, -6px);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.25);
}
.links__btn--j30 {
    background-color: #ffc600;
}
.links__btn--twitter {
    background-color: #55acee;
}
.links__btn--gmail {
    background-color: #dd4b39;
}
.links__btn--last {
    margin-right: 0;
}