@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    color: #222;
    background-color: #ffecd2;
    font-family: 'Nunito', sans-serif;
}

/* Container */
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* Task Info */
.task {
    margin-top: 128px;
    margin-bottom: 64px;
}
.task__title {
    font-size: 48px;
    margin-bottom: 12px;
    color: #fda085;
}

/* Progress */
.progress {
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(3, 1fr);
}
.progress__link {
    text-decoration: none;
}
.progress__block {
    background-color: #f3f5f5;
    text-align: center;
    border-radius: 12px;
    padding-bottom: 64px;
    transition: 0.25s ease;
}
.progress__block:hover {
    transform: scale(0.95);
}
.progress__icon {
    padding-top: 64px;
    padding-bottom: 32px;
    font-size: 92px;
}
.icon__block {
    width: 248px;
    height: 248px;
    line-height: 248px;
    margin: auto;
    border-radius: 50%;
    background-color: #fad0c4;
}
.progress__title {
    font-size: 18px;
    font-weight: bold;
}
.progress__day {
    color: #eee;
    margin-bottom: 0;
}

/* Text Link */
.text-link {
    z-index: 1;
    position: relative;
    text-decoration: none;
}
.text-link::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 8px;
    color: #222;
    transition: 0.24s ease;
}
.text-link:hover: {
    color: #fff;
}
.text-link:hover:after {
    height: calc(100% - 5px);
}
.text-link--j30::after {
    background-color: #ffc600;
}
