@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    color: #222;
    background-color: #ffecd2;
    font-family: 'Nunito', sans-serif;
}

/* Container */
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* Task Info */
.task {
    margin-top: 128px;
    margin-bottom: 64px;
}
.task__title {
    font-size: 48px;
    margin-bottom: 12px;
    color: #fda085;
}

/* Outer Area */
.progress {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, 1fr);
}

/* Keys */
.progress__block {
    background-color: #a18cd1;
    text-align: center;
    border-radius: 8px;
    transition: 0.1s;
}

/* Text Link */
.text-link {
    z-index: 1;
    position: relative;
    text-decoration: none;
}
.text-link::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 8px;
}
.text-link:hover:after {
    height: calc(100% + 2px);
}
.text-link--j30::after {
    background-color: #ffc600;
}
